button {
  margin: 20px;
  font-family: inherit;
}
.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 15px 30px 15px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.reset {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 15px 55px 15px;
    outline: 0;
    border: 1px solid black;
    margin-left: 100px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .reset::after {
    content: "";
    background-color: rgba(253, 61, 61, 0.986);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .reset:hover::after {
    top: 0px;
    left: 0px;
  }